<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>My Day</h1>
        <p>All my tasks in one place</p>
        <input
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          [formControl]="newTaskCtrl"
          (keydown.enter)="GetInputValue($event)"
        />
      </div>
    </header>
    <p>
      <input type="text" [formControl]="nameCtrl">
      <span class="validation-message" [class.active]="nameCtrl.invalid && nameCtrl.touched">Nombre inválido</span>
    </p>
    <p>
      <input type="color" [formControl]="colorCtrl">
      <p>color: {{colorCtrl.value}}
    </p>
    <div class="container todoapp-wrapper" *ngIf="TaskByFilter().length > 0"> 
      <!-- <pre>
        <code>
          {{tasks() | json}}
        </code>
      </pre> -->
      <!-- This section should be hidden by default and shown when there are todos -->
      <section class="main">
        <ul class="todo-list">
            <li 
            (dblclick)="UpdateTaskEditingMode(i)" 
            *ngFor="let task of TaskByFilter(); index as i" 
            [class.completed]="task.completed"
            [class.editing]="task.editing"
            >
                <div class="view">
                  <input class="toggle" type="checkbox" [checked]="task.completed" (change)="UpdateTaskStatus(i)" />
                  <label>{{task.title}}</label>
                  <button class="destroy" (click)="DeleteTask(i)"></button>
                </div>
                <input class="edit" [value]="task.title" (keydown.enter)="UpdateTaskText(i,$event)" />
            </li>

          <!-- <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" checked />
              <label>Learn JavaScript</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
          </li>
        
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li> -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      <footer class="footer" >
        <!-- This should be `0 items left` by default -->
        <span *ngIf="TaskByFilter().length === 0" class="todo-count"><strong>0</strong> item left</span>
        <span *ngIf="TaskByFilter().length === 1" class="todo-count"><strong>1</strong> item left</span>
        <span *ngIf="TaskByFilter().length > 1" class="todo-count"><strong>{{TaskByFilter().length}}</strong> items left</span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a (click)="ChangeFilters(FiltersEnum.All)" [class.selected]="filter() === FiltersEnum.All" >All</a>
          </li>
          <li>
            <a (click)="ChangeFilters(FiltersEnum.Pending)" [class.selected]="filter() === FiltersEnum.Pending">Pending</a>
          </li>
          <li>
            <a (click)="ChangeFilters(FiltersEnum.Completed)" [class.selected]="filter() === FiltersEnum.Completed">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button (click)="ClearCompleted()" class="clear-completed">Clear completed</button>
      </footer>
    </div>
  </section>